$blue:        #34a3ce;
$green:       #3BB05E;
$red:         #E1353D;
$orange:      #fb7d26;
$purple:      #9F5E8C;
$dark-blue:   #1c2745;
$darker-blue: #200123;
$yellow:      #f6c901;
$light-green: #91dc5a;

$square-size: 34px;

$img-path: '../../rsc/img/';

.color-X {color: $light-green}
.color-O {color: $blue}